#toast-alert {
    position: fixed !important;
    top: 55px;
    z-index: 99999999999999999999999999 !important;
    right: 7px;
    color: white;
    width: 350px;
    max-width: 100%;
    visibility: visible;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: #51c0a9;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.toast-body {
    display: flex;
    align-items: center;
}
