.LoadingSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39 39 39 / 27%);
    z-index: 999999999999;
}
.spinner-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    background-color: #161d27 !important;
    border-color: #161d27 !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.spinner-box .spinner-border {
    margin: 0 !important;
}
