.sidenav-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    list-style: none;
    padding: 0 !important;
}
.sidenav-items .sidenav-item {
    display: flex;
    border-radius: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}
.sidenav-items .sidenav-item.active,
.sidenav-items .sidenav-item:hover {
    background-color: #374151;
}
.sidenav-items .sidenav-item .sidenav-link {
    color: #fff !important;
    padding: 0.5rem 1rem;
    width: 100%;
}
.sidenav-items .sidenav-item .sidenav-link .sidebar-icon {
    margin-right: 0.5rem;
    color: #9ca3af;
}
