.list-box {
    min-width: 200px;
    position: relative;
    z-index: 9999;
}
.list-box .list-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    min-height: 38px;
    width: 100%;
    color: #6b7280;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0.0625rem solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
    cursor: pointer;
    font-size: 0.875rem;
}
.list-box .list-items {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    overflow: hidden;
    min-width: 100%;
    list-style: none;
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
    border: 0.0625rem solid #d1d5db;
    padding: 0;
    color: #111827;
}

.list-box .list-items.show {
    opacity: 1;
    max-height: 400px;
}
.list-box .list-items .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 0.875rem;
}

.list-box .list-items .list-item:hover,
.list-box .list-items .list-item.active {
    background-color: #e5e7eb63;
}
