@media screen and (display-mode: standalone) {
    #toast-alert {
        top: 52px !important;
    }
}

.bg-alert-success {
    background-color: #51c0a9 !important;
    color: white;
}

.bg-alert-danger {
    background-color: #dc3545 !important;
    color: white;
}
.spinner .spinner-icon {
    height: 35px !important;
    width: 35px !important;
}

button[type="submit"] span,
.spinner-border {
    transition: all 0.2s ease-in-out;
}
.spinner-border {
    margin-left: -18px;
}
.spinner-border.onProgress {
    margin-left: 10px;
}
.role {
    border-radius: 10px;
    border: 1px solid rgba(222, 226, 230, 0.7);
    padding: 15px;
    margin: 30px 0;
}
.role .permission-page-name {
    border-radius: 10px;
    border: 1px solid rgba(222, 226, 230, 0.7);
    padding: 5px 40px;
    margin-top: -35px;
    background-color: #f8f9fa;
    width: max-content;
    margin-bottom: 20px;
}
input:focus,
.form-check-input:focus,
button:focus,
select:focus,
li:focus,
a:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
.dropdown-menu i {
    margin-right: 13px;
    font-size: 17px;
}

main.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
section.main-section {
    margin-top: 30px;
     margin-bottom: 90px;
     height: 100%;
}
footer {
    margin-top: auto !important;
    margin-bottom: 10px;
}
.form-check-input:checked[type="radio"] {
    background-color: #088178 !important;
    border-color: #088178 !important;
    background-position: left;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.placeholder {
    background-color: #c1c1c1 !important;
    border-radius: 0.25rem !important;
}
